<div class="book-stats-sidebar">
   <h2>📊 Book Stats</h2>
   <ul>
      <li><strong>Total Books:</strong> <%= @total_books %></li>
      <li><strong>Books Read:</strong> <%= @books_read.count %></li>
      <li><strong>Total Pages Read:</strong> <%= @total_pages_read %></li>
		<li><strong> Books Unread: </strong> <%= @unread.count %></li>
      <li><strong>Average Rating:</strong> <%= @average_rating %> ⭐</li>
		<li><strong>Top Rated:</strong> <%= @five_star_books.count %> </li>

      <%# <ul> %>
         <%# 5 Star Books %>
         <%# @five_star_books.each do |book| %> 
            <%# <li>= link_to book.title, book_path(book), class: "btn"</li> %>
         <%# <% end %> 
      <%# </ul> %>
      
   </ul>
</div>


<% if defined?(@books) && @books.present? %>
	<h2> 🔍 Filters </h2>

	<!-- Genre Filter -->
	<h4>Genres:</h4>
	<div class="genre-links">
		<%= link_to "All", books_path(genre: nil), class: ["genre-button2", ("active" unless params[:genre].present?)].compact.join(" ") %>
		<% @genres.each do |g| %>
			<%= link_to g, books_path(genre: g), class: ["genre-button2", ("active" if params[:genre] == g)].compact.join(" ") %>
		<% end %>
	</div>



	<!-- Rating Filter -->
	<h4>Rating:</h4>
	<div class="genre-links">
		<%= link_to "All", books_path(rating: nil), class: ["genre-button2", ("active" unless params[:rating].present?)].compact.join(" ") %>

		<% ["1 ⭐", "2 ⭐", "3 ⭐", "4 ⭐", "5 ⭐"].each do |label| %>
			<% num = label.split.first %>
			<%= link_to label, books_path(rating: num), class: ["genre-button2", ("active" if params[:rating] == num)].compact.join(" ") %>
		<% end %>
	</div>
<% end %>

<!-- Filter Message -->
<% if params[:genre].present? %>
   <p>Showing only <strong><%= params[:genre] %></strong> books:</p>
<% elsif params[:rating].present? %>
   <p>Showing only <strong><%= params[:rating] %> ⭐</strong> books:</p>
<% end %>